/*---------------------------------------------------
 	Projekt IET Technikerschule CSS Stylesheet
----------------------------------------------------*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font: normal 16px sans-serif;
	color: #555;
}
html,body{
	
	top:0;
    bottom:0;
    left:0;
    right:0;
	
}

ul, nav{
	list-style: none;
	
}
.bild{
	width:60%;height:auto;
}
a{
	text-decoration: none;
	cursor: pointer;

	opacity: 0.9;
}



.bild{
	width:100%;
	min-width:200px;
	height:auto;
	
}


section{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 10px;
}


/*MOBIL*/
/*NAVI BAR*/
@media (max-width: 600px){

	
	header nav
	{
		display: flex;
		flex-direction:column;
		justify-content:flex-start;
		align-items:center;
		
	}
/*Bilder Mobil*/	
	img { max-width: 100%; }
}


/* ENDE MOBIL*/


section p{
	max-width: 800px;
	text-align: center;
	margin-bottom: 35px;
	padding: 0 20px;
	line-height: 2;
}

ul.grid{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	line-height:2.0;
	
}

header{
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 35px 100px 0;
	flex-direction: column;		
}

header nav{
	display: flex;
}

header nav li{
	margin: 0 15px;
}

@media (max-width: 1000px){
	header{
		padding: 20px 50px;
	}
}


@media (max-width: 700px){
	header{
		flex-direction: column;		
	}

	header h2{
		margin-bottom: 15px;
	}
}

/*--------------------
 	Char übersicht
---------------------*/

.chars{
	background-color: #cccccc;
}

.chars .grid li{
	/*Char Übersicht*/
	padding: 2px;
	height: 300px;
	border-radius: 3px;
	background-clip: content-box;
	background-size: cover;
	background-position: center;
	background-color: white;
	display:flex;
	
	
}
.parallelogram 
{ 

	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);
	border:2px solid black;
	flex-basis:14%;
	max-height:260px;
	
 }	
.parallelogram2 
{ 
	
	-webkit-transform: skew(340deg);
	-moz-transform: skew(340deg);
	-o-transform: skew(340deg);
	border:2px solid black;
	flex-basis:70%;
	max-height:260px;
 }
/*Charübersicht mobil*/
@media (max-width: 600px){

.parallelogram 
{ 

	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);
	border:2px solid black;
	flex-basis:14%;
	max-height:220px;
	
 }	
.parallelogram2 
{ 
	
	-webkit-transform: skew(340deg);
	-moz-transform: skew(340deg);
	-o-transform: skew(340deg);
	border:2px solid black;
	flex-basis:70%;
	max-height:220px;
 }	
}
@media (max-width: 1000px){

	.our-work .grid li.small,
	.our-work .grid li.large{
		flex-basis: 100%;
	}

}
/*--------------------
 	ENDE Char übersicht
---------------------*/
/*----------------------
 	Fun Facts Section
----------------------*/

.fun-facts{
	background-color: #D8D8D8;
}

.fun-facts .grid li{
	padding: 0 10px;
	flex-basis: 33%;
	text-align: center;
}
.fun-facts .grid li.breit{
	padding: 0;
	flex-basis: 100%;
	text-align: center;
	justify-content:center;
}

.fun-facts .grid li i{
    font-size: 50px;
    color: #2196F3;
    margin-bottom: 25px;
}

.fun-facts .grid li h4{
	color: #555;
    font-size: 20px;
    margin-bottom: 25px;
}

.fun-facts .grid li p{
    margin: 0;
}

@media (max-width: 1000px){

	.fun-facts .grid li{
		flex-basis: 70%;
		margin-bottom: 25px;
	}

	.fun-facts .grid li:last-child{
		margin-bottom: 0;
	}

}


@media (max-width: 600px){

	.fun-facts .grid li{
		flex-basis: 100%;
	}

}
/*----------------------
 	ENDE Fun Facts Section
----------------------*/
/*----------------------
 	Zitate
----------------------*/
.quote
{
	font-size:15px;
	font-family:courier new;
}
.author
{
	font-style:italic;
	font-size:10px;
}
/*----------------------
 	ENDE Zitate
----------------------*/
/*-------------
 	Footer
-------------*/

footer p{
	text-transform: uppercase;
	font-size: 14px;
	color: rgba(255,255,255,0.6);
	margin-bottom: 10px;
}




/*-------------
 	ENDE Footer
-------------*/
